body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

header {
  text-align: center;
  font-size: 60px;
  padding-bottom: 1rem;
}

main {
  display: grid;
  justify-content: center;
  gap: 2rem;
  justify-items: center;
}

.board {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min(75vw, 450px);
  gap: 3px;
}

.cell {
  background-color: white;
  height: min(25vw, 150px);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 70px;
}

.cell:hover {
  background-color: rgb(243, 243, 243);
}

.turn {
  text-align: center;
  font-size: 40px;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 5px;
}

dialog,
input,
button {
  font-size: 25px;
  border-radius: 5px;
}

input,
button {
  padding: 7px;
  border: none;
}

input {
  background-color: lightgray;
  outline: none;
}

button:hover {
  background-color: lightgray;
}

dialog {
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dialog-heading {
  text-align: center;
  font-size: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: lightgray;
  text-align: center;
  color: gray;
  width: 100vw;
  font-size: 20px;
  padding: 10px 0;
}
footer a {
  /* text-decoration: none; */
  color: inherit;
}
